{% extends "./plantilla.html" %}

{% block contenido %}
<div class="container mt-5">
    <div class="border p-4 rounded-3 shadow-lg">
        <h3 class="mb-4 text-center" style="color: #FF4500; font-family: 'Algerian', sans-serif;">Registrar Nuevo Contratista</h3>

        <!-- Formulario para agregar un nuevo contratista -->
        <form id="formContratista" enctype="multipart/form-data" action="/guardarcontratista/" method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label for="txt_nombre" class="form-label" style="color: #008000; font-family: 'Algerian', sans-serif;"><b>Nombre:</b></label>
                <input type="text" name="txt_nombre" id="txt_nombre" class="form-control" style="font-family: 'Algerian', sans-serif;" required>
            </div>

            <div class="mb-3">
                <label for="txt_telefono" class="form-label" style="color: #008000; font-family: 'Algerian', sans-serif;"><b>Teléfono:</b></label>
                <input type="text" name="txt_telefono" id="txt_telefono" class="form-control" style="font-family: 'Algerian', sans-serif;" required>
            </div>

            <div class="mb-3">
                <label for="txt_correo" class="form-label" style="color: #008000; font-family: 'Algerian', sans-serif;"><b>Correo:</b></label>
                <input type="email" name="txt_correo" id="txt_correo" class="form-control" style="font-family: 'Algerian', sans-serif;" required>
            </div>

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn" style="background-color: #9447ff; color: white; font-family: 'Algerian', sans-serif;">Registrar </button>
                <br>
                <a href="/listacontratista/" class="btn" style="background-color: #FF6347; color: white; font-family: 'Algerian', sans-serif;">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}

